<h1>Cotiza con nosotros</h1>

<%= form_with url: get_price_path do |form| %>
  <%= form.label :client_dni, 'Rut Emisor: ' %>
  <%= form.text_field :client_dni %>
  <%= form.label :debtor_dni, 'Rut Deudor: ' %>
  <%= form.text_field :debtor_dni %>
  <%= form.label :document_amount, 'Monto de la factura: ' %>
  <%= form.number_field :document_amount %>
  <%= form.label :folio, 'Folio: ' %>
  <%= form.number_field :folio %>
  <%= form.label :expiration_date, 'Fecha de vencimiento de la factura: ' %>
  <%= form.date_field :expiration_date %>
  <%= form.submit 'Cotizar' %>
<% end %>